<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>

    <p>
        Автогонки Формула 1 — это ежегодный чемпионат мира на специальных гоночных машинах с открытыми колёсами,
        которые называют болидами. Гонки проходят только на закрытых кольцевых трассах.
        Формула-1 или как её ещё называют «Королевская формула» существует уже более 70 лет,
        это самый популярный и одновременно самый дорогостоящий вид спортивных гонок.
        Формула 1 появилась ближе ко второй половине XX века.
        Для многих европейских стран это соревнование стало альтернативой, потому что их перестал удовлетворять
        Чемпионат Европы по автогонкам, ранее также проходивший ежегодно.
        Первый чемпионат по Формуле 1 прошёл в 1950 году и его победителем стал итальянский гонщик Джузеппе Фарина
        выступавший на автомобиле марки Альфа Ромео.
        В современном мире «Формула 1» — это колоссальный бизнес,
        стоимость которого по различным оценкам колеблется от 1,3 до 2 миллиардов долларов,
        ведь именно здесь соревнуются как команды и отдельные участники, так и ведущие автомобильные империи.
        Все в Формуле 1 пронизано духом соревнований.
    </p>
    <p>
        Соревнования Формулы 1 проводятся в несколько этапов. Сезон длится с марта по октябрь. Каждый этап называется «Гран-При»
        и всегда носит имя той страны, в которой проходит. Каждую страну для проведения этапа Формулы 1 определяет
        Международная автомобильная федерация (FIA). Самыми популярными по опросам болельщиков признаны Гран При Монако,
        Сан-Марино, Австрии, США и Канады. В каждой стране проведения гонок есть специально построенные трассы,
        на которых и проходят соревнования. В сезоне проходит до 20 этапов. Проводятся они всегда в пятницу, субботу и воскресенье.
        В каждом сезоне участвует 26 болидов, а это 13 команд.
        На каждую гонку команда привозит свое оборудование и материалы общим весом в сотни тонн и перевозится
        это все в огромных грузовиках. Именно поэтому Формула 1 иногда напоминает Большой кочующий цирк,
        как ее часто любяще называют поклонники. Количество поклонников и фанатов автогонок Формула 1 по всему миру миллионы.
        Они всегда присутствуют на всех этапах Гран При, одеваясь в одежду с символикой любимой команды или гонщика,
        размахивают флагами и сметают всю атрибутику Формулы 1 в близлежащих магазинах.
    </p>
    <p>
        Этап Гран При длится три дня. 1-ый день - тестовый. В этот день команды тестируют настройку техники, резину для шин,
        продумывают стратегию гонок. Во 2-ой день проводится квалификация, которая определяет места для старта гонщиков с первого до последнего.
        Во время сессии для проезда круга по трассе на скорость гонщикам предоставляется 15 минут.
        3-ий день самый знаменательный, это день самой гонки. Гонка длится до 2-х часов, за это время гонщики проезжают около 300 километров.
        Победителем автогонки объявляется пилот, проехавший самое больше количество кругов.
        Сейчас порядок начисления очков следующий: за 1 - место начисляется 10 очков; за 2 - 8; за 3 - 6; за 4 - 5 очков и так до 8 места за которое начисляется одно очко.
        Количество очков команды равны сумме очков заработанных её пилотами. Очки каждого Гран При складываются.
        Титул Чемпиона Мира присуждается пилоту, набравшему в общем зачете наибольшее количество очков.
        Команда с наибольшим количеством очков становится обладателями Кубка конструкторов.
        На данный момент среди всех команд рекордсменом остаётся команда Scuderia Ferrari.
        А самый титулованный гонщик - Михаэль Шумахер, он становился чемпионом мира 7 раз.
    </p>
</body>
</html>